.tc-debug{
    border: solid red 1px;
}
:root {
	--color-tc-sidebar-bg: #051e34;
	--color-tc-nav-bar-bg: #1b72e8;
	--color-tc-primary-color-bg: #ffffff;
	--color-tc-bell-color: #ff8f00;
	--color-tc-bg-circular: #f26551;
	--color-tc-drop-green: #198754;
	--color-tc-drop-yellow: #dc3545;
}
header{
    background-color: var(--color-tc-primary-color-bg);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
main{
    width: 100%;
    height: 100%;
}
.wrapper{
    height: 100vh;
}
#content{
    padding-top: 60px;
}
#content-side{
    height: 99%;
}
#sidebar{
    width: 180px;
    background-color: var(--color-tc-sidebar-bg);
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    color: var(--color-tc-primary-color-bg);
}
#main{
    background-color: var(--color-tc-primary-color-bg);
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}
#nav-main{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: var(--color-tc-nav-bar-bg);
}
#bot{
    border: none;
}
#bot i{
    color: var(--color-tc-bell-color);
}
#bold{
    font-weight: bold;
}
th:first-of-type{
    font-weight: normal;
}
.table > :not() > tr > th{
    display: none;
}